html, body {
  margin:0px;
 
}
/* Set a background image by replacing the URL below */

#info {
	background-color: rgba(255, 255, 255, 0.8);
}

#clear{
	background-color: rgba(255, 255, 255, 0.8);
}

.mr-2 {
  margin-right: 10px !important;
}

.pad-5 {
	padding-top: 180px !important;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.card-background {
    
    background-color: rgba(255, 255, 255, 0.8) !important;
    
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #87CEEB !important;
    border-color: #87CEEB !important;
     
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #CD5C5C !important;
    border-color: #CD5C5C !important;
     
}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.background {
	
	height: 100vh;
	width: 100vw;
	position:relative;
	margin:0px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/imgs/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.dashboard{
		
	height: 100%;
	width: 100vw;
	position:relative;
	margin:0px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/imgs/dashboard.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.dogcat{
	
	width: 100vw;
	position:relative;
	margin:0px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/imgs/dog_cat.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.profile{
	height: 100vh;
	width: 100vw;
	position:relative;
	margin:0px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/imgs/profile.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.custom-class {
  display: flex;
}

.imagefade{
	height: 100vh;
	width: 100vw;
	position:relative;
	
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/imgs/goldenbackground.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	
}

